<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
  </head>
  <script>  var HDN = HDN || {}  </script>

  <body>

    <%= t.include("partials/_nav.html") %>
    <responsive-child>

      <div class="title-container">
    		<div class="background-img story">
    		    <div class="dim"></div>
    			<div class="over-img">
    				<p class="specialhead">Chronicle Investigation</p>
    				<h1 class="title long">The SF Marathon by the numbers</h1>
    				<p class="author">By Erin Allday and Emma O'Neill</a></p>
    				<p class="date">August 5, 2016</p>
    			</div>
    		</div>
    	</div>

      <p class="caption landing">This is a caption. This is a caption.<span class="byline"> Person Person, Special to The Chronicle</span></p>

      <div class="outer">
        <div class="hed">A strong majority of runners are 29, but average pace is relatively constant across ages</div>
        <div class="chatter">The bars on the chart show the distribution of ages of SF marathon registered runners from 2010 through 2016. The superimposed line shows the average pace of all the runners of each age in 2016.</div>
        <div class="legend">
          <div class="bars-swath"><div class="legend-text">Total runners of an age (2010-2016)</div></div>
          <div class="line-swath"><div class="legend-text">Pace of runners of an age (2016)</div></div>
        </div>
        <div id="age-distribution-bars" class="age-distribution-bars"></div>
        <div class="source">About the data: We are only including average paces for ages that include at least 50 runners in 2016 to retain accuracy.</div>
      </div>

      <div class="outer">
        <div class="hed">Average pace corresponds to the hill profile</div>
        <div class="chatter">Most runners are at the mercy of the hills, the average pace varying by almost up to two minutes depending on the grade. Everyone gets tired at the end too, even though there are no hills.</div>
        <div class="legend">
          <div class="men-swath"><div class="legend-text">Average of male runners</div></div>
          <div class="women-swath"><div class="legend-text">Average of female runners</div></div>
          <div class="overall-swath"><div class="legend-text">Average of all runners</div></div>
        </div>
        <div id="pace-line-chart" class="pace-line-chart"></div>
        <div class="source">About the data: Strava gave us this data, because Strava is awesome. Average paces are based on data from Strava users who uploaded their race data to the site, and pace is averaged on a per mile basis.</div>
      </div>

      <div class="outer">
        <div class="hed">Runners spread out and slow down on the hills</div>
        <div class="chatter">The fastest runners have a more consistent pace than other runners. As the race progresses, the runners spread out as some slow down more than others.</div>
        <div id="timing-lines" class="timing-lines"></div>
        <div class="source">About the data: Strava gave us this data, because Strava is awesome. Data is plotted for Strava users who uploaded their race data to the site.</div>
      </div>

      <div class="outer">
        <div class="hed">The slower runners slow down more for the hills</div>
        <div class="chatter">Here we're comparing the fastest Strava runner, the slowest Strava marathon runner, and the average Strava marathon runner, for men and women, on every hill on the course.</div>
        <div class="bubble-options-slope" id="bubbleoptions-slope">
          <div class="men-slope" id="men-slope">Males</div>
          <div class="women-slope selected" id="women-slope">Females</div>
        </div>
        <div class="legend fastslow women" id="fastslowwomen">
          <div class="fast"><div class="legend-text-animated" id="Fastestwoman">Fastest runner</div></div>
          <div class="avg"><div class="legend-text-animated" id="Averagewoman">Average runner</div></div>
          <div class="slow"><div class="legend-text-animated" id="Slowestwoman">Slowest runner</div></div>
        </div>
        <div class="legend fastslow men" id="fastslowmen">
          <div class="fast"><div class="legend-text-animated" id="Fastestman">Fastest runner</div></div>
          <div class="avg"><div class="legend-text-animated"id="Averageman">Average runner</div></div>
          <div class="slow"><div class="legend-text-animated"id="Slowestman">Slowest runner</div></div>
        </div>
        <div class="controls">
          <div class="start selected"><i class="fa fa-play"></i></div>
          <div class="pause"><i class="fa fa-pause"></i></div>
        </div>
        <div id="elevation-bubble-graph" class="elevation-bubble-graph"></div>
        <div class="source">About the data: Strava gave us this data, because Strava is awesome. Segments that were entirely up or down hills were inluded, and slope was computed by dividing the number of feet gained by the horizontal distance. (Or some other better way.)</div>
      </div>

      <div class="outer">
        <div class="hed">Who are the runners at the SF marathon?</div>
        <div class="chatter">Explore the make-up of the SF marathon by clicking to see who ran the marathon: ages, genders, homes, and speeds.</div>
        <div class="bubble-options" id="bubbleoptions">
          <div class="gender" id="gender">By gender</div>
          <div class="origin" id="origin">By origin</div>
        </div>
        <div class="bubble-options" id="bubbleoptionsgender">
          <div class="men" id="men">Males</div>
          <div class="women" id="women">Females</div>
        </div>
        <div class="bubble-options" id="bubbleoptionsorigin">
          <div class="foreign" id="foreign">Out-of-country runners</div>
          <div class="sfrunners" id="sfrunners">SF runners</div>
        </div>
        <div id="bubble-graph" class="bubble-graph"></div>
        <div class="source">About the data: Data is from the wonderful people at the SF marathon. We do not include participants whose information was incomplete.</div>
      </div>

      <div class="max">
        <hr>

        <div class="credits">
          <div class="entry">Reporter:  <br>Erin Allday &bull; <a href="mailto:eallday@sfchronicle.com">eallday@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/erinallday" target="_blank">@erinallday</a></div>
          <div class="entry">Interactive producer:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
        </div>

        <hr>

        <div class="dont-miss">
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/sea-level-rise/#part2" target="_blank">
              <img src="./assets/social/dont-miss-sealevel2.jpg"></img>
            </a>
              <div class="small">Shoring up SF's edge</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
              <img src="./assets/social/dont-miss-visas.png"></img>
            </a>
              <div class="small">H-1B visas: who gets them, where they go</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/teacher-pay/" target="_blank">
              <img src="./assets/social/dont-miss-teacherpay.jpg"></img>
            </a>
              <div class="small">Teachers struggle to stay in SF</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/airbnb/" target="_blank">
              <img src="./assets/social/dont-miss-airbnb.jpg"></img>
            </a>
              <div class="small">Airbnb and rivals thrive</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </responsive-child>

    <script>
      // var splitsData = <%= JSON.stringify(csv.timingCSV) %>;
      var bubbleData = <%= JSON.stringify(csv.scatter_plot_dataNEW) %>;
      var ageData = <%= JSON.stringify(csv.ageHistogramNew) %>;
      var barData = <%= JSON.stringify(csv.bars2016data) %>;
      var milePaceData = <%= JSON.stringify(csv.StravaAvgMiles) %>;
      var elevationData = <%= JSON.stringify(csv.elevationProfile) %>;
      var stravaSplitsData = <%= JSON.stringify(csv.allStravaSplits) %>;
      var stravaBubbleData = <%= JSON.stringify(csv.elevationBubblesStrava) %>;
    </script>

    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
