<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
  </head>
  <script>  var HDN = HDN || {}  </script>

  <body>

    <%= t.include("partials/_nav.html") %>
    <responsive-child>

      <div class="title-container">
    		<div class="background-img story">
    		    <div class="dim"></div>
    			<div class="over-img">
    				<h1 class="title long">Running the numbers</h1>
            <h1 class="title deck">A deep dive into the data of the San Francisco Marathon</h1>
    				<p class="author">By Emma O'Neill and Erin Allday</a></p>
    				<p class="date">August 8, 2016</p>
    			</div>
    		</div>
    	</div>

      <p class="caption landing">The first runners cross the Golden Gate Bridge during the San Francisco Marathon on July 27, 2014. <span class="byline">Scott Strazzante, The Chronicle</span></p>

      <div class="text">
        <p>Want to run a faster San Francisco Marathon next year? Take a look at this year’s race.</p>

        <p>Runners might be surprised (or not) at what it takes to nail a speedy race along the unusually challenging course — or where that personal best can go off the rails.</p>

        <p>The Chronicle analyzed data from the <a href="http://www.thesfmarathon.com/race-results-and-photos/">San Francisco Marathon’s</a> official results from July 31 for more than 6,300 finishers, plus the individual runs of nearly 900 people who uploaded the details of their GPS-tracked races to <a href="https://www.strava.com/running-races/2016-san-francisco-marathon-2016">Strava</a>, the San Francisco-based running and cycling social network.</p>

        <p>Together, the data open a new world of analysis for the geekiest runners and footrace fans — many of whom are already obsessed with tracking mileage, pace and race times.</p>

        <p>“There’s a portion of the population that thrives on self-improvement and looking at the whole quantified self,” said Mark Gainey, chief executive and co-founder of Strava. “We’ve seen folks use their aggregated data to really understand trends and make changes to their own lives.”</p>

        <p>Some, of course, just want to run a faster race.</p>

        <p>What such data says about running your best race is up for debate. But here’s a starting point when it comes to finishing fast at the San Francisco Marathon:</p>

        <p>Age matters, but not a lot. Nice try if you’re thinking about using it as an excuse for a slow run.</p>

        <p>The best runners save some gas for the finish.</p>

        <p>Train — and then train some more — for those hills. The course may be beautiful, but the hills are challenging.</p>

        <p>And remember, it’s OK to just enjoy the run.</p>

        <p>“There’s something really special about running across the Golden Gate Bridge when the sun’s just coming out, and you’ve got the rolling hills and the fog and the cold and the wind,” said Anna Bretan, a Berkeley runner and three-time female winner of the San Francisco Marathon. “I feel like when you run a fast time in San Francisco, it’s special. You really, really earned it.”</p>
      </div>

      <div class="outer">
        <div class="hed">A young race with some speedy oldsters</div>
        <div class="chatter">
          <p>The San Francisco Marathon tends to skew young – 40-and-older runners made up 38 percent of the field this year, compared with 49 percent nationally. The single largest group of runners over the past six years in San Francisco is 29-year-olds.</p>

          <p>Somewhat surprisingly, the average pace per mile is fairly constant across ages. It hovers around 10 minutes, 30 seconds for most racers in their 20s and 30s, then starts slipping toward 11 minutes as people hit their 40s. Even then, there are outliers: 49-year-olds run on average a 10:36 pace.</p>
        </div>
        <div class="legend">
          <div class="bars-swath"><div class="legend-text">Total runners of an age (2010-2016)</div></div>
          <div class="line-swath"><div class="legend-text">Pace of runners of an age (2016)</div></div>
        </div>
        <div id="age-distribution-bars" class="age-distribution-bars"></div>
        <div class="source">About the data: The bars on the chart show the distribution of ages of SF marathon registered runners from 2010 through 2016. The superimposed line shows the average pace of all the runners of each age in 2016. The chart only average paces for ages that include at least 50 runners.</div>
        <div class="source">Source: <a href="http://www.thesfmarathon.com/race-results-and-photos/">San Francisco Marathon</a></div>
      </div>

      <div class="outer">
        <div class="hed">Anatomy of a race course</div>
        <div class="chatter">Not all miles are created, or run, equally. Using GPS data uploaded by Strava users, it's easy to spot the fastest and slowest miles, which climbs slow people most, and where runners pick up speed on the downhill. It should surprise no marathoner that the last mile is much, much slower than the first.</div>
      </div>

      <div class="outer">
        <div class="hed">Surprise: People slow down on the hills</div>
        <div class="chatter">
          <p>Just about everyone slams into a major pace-killer around mile 6, when they climb out of Crissy Field up to the Golden Gate Bridge, the first big hill of the race. For the rest of the marathon, average running paces pretty closely match the hills.</p>
          <p>The only notable difference? The end of the race, when most runners clearly run out of juice even though it’s flat. That last mile is the most grueling.</p>
        </div>
        <div class="legend">
          <div class="women-swath"><div class="legend-text">Average of female runners</div></div>
          <div class="men-swath"><div class="legend-text">Average of male runners</div></div>
          <div class="overall-swath"><div class="legend-text">Average of all runners</div></div>
        </div>
        <div id="pace-line-chart" class="pace-line-chart"></div>
        <div class="source">Source: <a href="https://www.strava.com/running-races/2016-san-francisco-marathon-2016"></a></div>
      </div>

      <div class="outer">
        <div class="hed">Fast runners, even paces</div>
        <div class="chatter">The spread between the fastest and slowest runners widens considerably over the course of the marathon. The fastest folks tend to stay fast, and the slower folks get slower.</div>
        <div id="timing-lines" class="timing-lines"></div>
        <div class="source">About the data: Paces are based on data uploaded by Strava users who ran the San Francisco Marathon. Paces are averages per mile.</div>
        <div class="source">Source: <a href="https://www.strava.com/running-races/2016-san-francisco-marathon-2016">Strava</a></div>
      </div>

      <div class="text">
        <p>Only about 60 seconds separates the fastest and slowest miles for the top Strava runners. They’re more likely to keep an even pace and even speed during the final stretch to the finish — a sign of a well-strategized marathon.</p>

        <p>The slowest runners, on the other hand, are all over the place. It’s not unusual for people to average sub-10-minute miles until the first hill at Crissy Field, and end their race at a pace that is a full two or three minutes per mile slower. Even some folks with speed fall apart at the end.</p>
      </div>

      <div class="inline-img">
        <img src="./assets/photos/bretan.jpg">
        <div class="caption">Anna Bretan crosses the San Francisco Marathon finish line after winning the women's division in 2015. <span class="byline">Dorothy Edwards, The Chronicle</span></div>
      </div>

      <div class="text">

        <p>Bretan, the previous marathon winner, said she usually pays little attention to her pace when she races, instead going by effort. One year she looked at her mile splits after the San Francisco Marathon and was surprised that her pace was “all over the place,” ranging from about 5:45 to 6:15. But that’s pretty steady compared to most.</p>

        <p>“A lot of people start really fast,” Bretan said. “Every year it feels like people are just flying past me at first, and then I see them later. They didn’t conserve enough and I run right by them.”</p>

      </div>

      <div class="outer">
        <div class="hed">Fast folks hit the hills — hard</div>
        <div class="chatter">The San Francisco Marathon is notorious for its hills. But how much do those hills really hurt? It depends on the runner.</div>
        <div class="bubble-options-slope" id="bubbleoptions-slope">
          <div class="women-slope selected" id="women-slope">Females</div>
          <div class="men-slope" id="men-slope">Males</div>
        </div>
        <div class="legend fastslow women" id="fastslowwomen">
          <div class="fast"><div class="legend-text-animated" id="Fastestwoman">Fastest runner</div></div>
          <div class="avg"><div class="legend-text-animated" id="Averagewoman">Average runner</div></div>
          <div class="slow"><div class="legend-text-animated" id="Slowestwoman">Slowest runner</div></div>
        </div>
        <div class="legend fastslow men" id="fastslowmen">
          <div class="fast"><div class="legend-text-animated" id="Fastestman">Fastest runner</div></div>
          <div class="avg"><div class="legend-text-animated"id="Averageman">Average runner</div></div>
          <div class="slow"><div class="legend-text-animated"id="Slowestman">Slowest runner</div></div>
        </div>
        <div class="controls">
          <div class="start selected"><i class="fa fa-play"></i></div>
          <div class="pause"><i class="fa fa-pause"></i></div>
        </div>
        <div id="elevation-bubble-graph" class="elevation-bubble-graph"></div>
        <div class="source">About the data: Each bubble represents the pace of a Strava runner on specific hills — up or down — in the San Francisco Marathon.</div>
        <div class="source">Source: <a href="https://www.strava.com/running-races/2016-san-francisco-marathon-2016"></a></div>
      </div>

      <div class="text">
        <p>The fastest folks, who are presumably the best trained for running hills, tend to slow down the least. The fastest Strava male marathoner was only 1:22 slower on the worst climb — out of Crissy Field, about a 5 percent grade — than he was on the easiest downhill. The slowest male runner, though, dawdled at a pace five minutes slower on the Crissy Field hill than his fastest downhill.</p>

        <p>“Using the same effort, you’ll lose about 12 seconds going up (a 1 percent grade) as opposed to level ground,” said Greg Hosier, an Atlanta-based marathoner who runs a <a href="http://www.findmymarathon.com/">website that rates races around the United States</a>. “Going down you can go faster, but it’s about 8 seconds per mile.</p>

        <p>He added, “That’s just a rule of thumb. Everyone’s different.” Indeed.</p>
      </div>

      <div class="outer">
        <div class="hed">Who are the runners of the San Francisco Marathon?</div>
        <div class="chatter">Here’s a color coded mosaic of everyone who ran this year’s marathon. Each dot represents an individual runner — men and women, locals and folks from other countries. From the looks of it, the out-of-country participants weren’t all crazy-efficient runners from Kenya.</div>
        <div class="bubble-options" id="bubbleoptions">
          <div class="gender selected" id="gender">By gender</div>
          <div class="origin" id="origin">By city/country</div>
        </div>
        <div class="bubble-options" id="bubbleoptionsgender">
          <div class="women" id="women">Females</div>
          <div class="men" id="men">Males</div>
        </div>
        <div class="bubble-options" id="bubbleoptionsorigin">
          <div class="sfrunners" id="sfrunners">From SF</div>
          <div class="foreign" id="foreign">Out-of-country</div>
        </div>
        <div id="bubble-graph" class="bubble-graph"></div>

        <div class="source">Source: <a href="http://www.thesfmarathon.com/race-results-and-photos/">San Francisco Marathon</div>
      </div>

      <div class="max">
        <hr>

        <div class="credits">
          <div class="entry">Reporter:  <br>Erin Allday &bull; <a href="mailto:eallday@sfchronicle.com">eallday@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/erinallday" target="_blank">@erinallday</a></div>
          <div class="entry">Interactive producer:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>

        <hr>

        <div class="dont-miss">
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/sea-level-rise/#part2" target="_blank">
              <img src="./assets/social/dont-miss-sealevel2.jpg"></img>
            </a>
              <div class="small">Shoring up SF's edge</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
              <img src="./assets/social/dont-miss-visas.png"></img>
            </a>
              <div class="small">H-1B visas: who gets them, where they go</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/teacher-pay/" target="_blank">
              <img src="./assets/social/dont-miss-teacherpay.jpg"></img>
            </a>
              <div class="small">Teachers struggle to stay in SF</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/airbnb/" target="_blank">
              <img src="./assets/social/dont-miss-airbnb.jpg"></img>
            </a>
              <div class="small">Airbnb and rivals thrive</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </responsive-child>

    <script>
      var ageData = <%= JSON.stringify(csv.AgePaceHistogramData) %>;
      var bubbleData = <%= JSON.stringify(csv.scatter_plot_dataNEW) %>;
      var barData = <%= JSON.stringify(csv.bars2016data) %>;
      var milePaceData = <%= JSON.stringify(csv.StravaAvgMiles) %>;
      var elevationData = <%= JSON.stringify(csv.elevationProfile) %>;
      var stravaSplitsData = <%= JSON.stringify(csv.allStravaSplits) %>;
      var stravaBubbleData = <%= JSON.stringify(csv.elevationsBubblesStravaErin) %>;
      console.log(stravaBubbleData);
    </script>

    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
